.headline {
  color: darkgreen;
}

h1,
h3 {
  font-family: Georgia;
  text-align: center;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}

img {
  float: left;
  padding-right: 90px;
}
